html {
  background:#222;
  color:#c0c0c0;
  font-family: Verdana, sans-serif;
  font-size:9pt;
}

a {
  text-decoration:none;
  color: #bbf;
}

h1 {
  padding:5px;
  text-align:center;
  font-size:2em;
}

strong {
  font-weight:bold;
}

#tweets li {
  background:#333;
  margin:5px;
  padding:5px;
}

#tweets li.reply {
  background:#336;
}

#tweets li.search {
  background:#334939;
}

#tweets a.search {
  float:right;
  font-size:0.8em;
  color: #77b;
}

#tweets h3 {
  font-weight:bold;
}

#tweets p {
  margin-bottom:3px;
}

#tweets h3 a {
  color:#fff;
}

#tweets img.profile {
  float:left;
  padding-right:5px;
  width:48px;
  height:48px;
}

br.clear {
  clear:both;
  height:1px;
}

#tweets .created_at {
  float:right;
  font-size:0.8em;
  color:#777;
}
#tweets .created_at a {
  color: #77b;
}


#tweets {
  margin-bottom:105px;
}

.user-details {
  background:#222;
  padding:5px;
  margin:5px 20px 0 20px;
/*  border:2px inset #000;*/
}

.user-details dl {
  width:48%;
  float:left;
}

.word-cloud span {
  margin-right:4px;
}

.word-cloud {
  width:48%;
  float:right;
}

.user-details dt {
  float:left;
  clear:left;
  font-weight:bold;
  padding-right:3px;
}

#controls-wrap {
  height:100px;
  position:fixed;
  bottom:0;
  width:100%;
  background:#000;
}


#controls {
  padding:5px;
}

#buttons {
  float:left;
  font-size:2em;
}

#buttons a {
  padding:2px;
  margin:2px;
  background:#333;
  color:#bbb;
  height:20px;
  width:20px;
  display:block;
  text-align:center;
  line-height:0.5em;
}

#buttons a:hover {
  color:#c70;
}

#refreshTweets.loading {
  background-image: url(spinner.gif);
  background-repeat: no-repeat;
  background-position: center;
}

form {
  background:#222;
  padding:5px;
  margin:5px;
}

form textarea {
  background:#444;
  border:1px inset #000;
  color:#eee;
  padding:2px;
}

#statusCount {
  float:right;
}

form#updateStatus input {
  background:#888;
  margin:2px;
  position:relative;
  top:-6px;
}

form#searches {
  background:#333;
  width:50%;
  margin:1px auto;
}

form#searches p {
  margin:5px;
}

p#about {
  float:right;
  font-size:0.8em;
}